//resets
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    background-color: lightgray;
}

a {
	text-decoration: none;
    color: inherit;
    transition: all 300ms;
}

header li {
    list-style-type:none;
}

//mixin
@mixin setup-flex {
    display: flex;
    width: 100%;
    max-width: 1440px;
}

//extend
%setup-flex {
    @include setup-flex();
}

%setup-grid {
    display: grid;
    width: 100%;
    max-width: 1440px;
}

body {
    @extend %setup-flex;   
    height: inherit;
    margin: 0 auto;
    background-color: #fff;
    line-height: 1.5;
}

.header {
    @extend %setup-flex;
    background-color: #111;

    @media all and (max-width: 768px) {
        position: relative;
        flex-direction: column;
        background-color: #fe9900;
    }

    .brand {
        display: block;
        background-color: #fe9900;
        padding: 12px 24px;

        @media all and (max-width: 768px) {
            margin: auto;
        }    
    
        .fas {
            font-size: 34px;
            color: #333333;
            display: none;
        }
        
        p {
            display: inline-block;
            font-size: 34px;
            /* font-family: 'Numans', sans-serif; */
            font-family: 'Comfortaa', sans-serif;
            color: #333333;
            font-weight: bold;

            @media all and (max-width: 768px) {
                font-size: 32px;
            }        
        }
        
        .logo {
            &hover {
                opacity: 0.7;
            }
        }
    }

    .nav {
        width: 100%;
        display: flex;

        @media all and (max-width: 768px) {
            display: none;
        }
    
        .menu {
            display: inline-block;
            background-color: transparent;
    
            margin-left: auto;
    
            li:last-child {
                margin-right: 16px;
            }
            
            li {
                display: inline-block;
                padding: 25px 16px;

                @media all and (max-width: 340px) {
                    display: inline-block;
                    padding: 25px 10px;
                }                    
            }
            
            a {
                text-align: center;
                font-family: 'Oswald', sans-serif;
                font-weight: bold;
                font-size: 15px;
                text-transform: uppercase;
                color: #eee;
                text-align: center;
    
                &:hover {
                    opacity: 70%; 
                }
            }
        }
    
        .social-media {
            display: inline-block;
            background-color: #333333;
        
            li {
                display: inline-block;
                padding: 25px 25px;
            }
            
            i {
                color: #eee;
                font-size: 20px;
            
                &:hover {
                    opacity: 70%;
                }
            }    
        }
    }

    .nav.responsive {
        @media all and (max-width: 768px) {
            @include setup-flex();
            background-color: #111;
            flex-direction: column;
            text-align: center;
        }

        .menu {
            @media all and (max-width: 768px) {
                margin-left: 0;
            }
    
            li{
                &:last-child {
                    @media all and (max-width: 768px) {
                        margin-right: 0px;
                    }
                }
            }    
        }
    }

    .responsive-menu {
        a .fas {
            font-size: 18px;
            border: none;
            cursor: pointer;
            color: #fff;
            padding: 28.5px 28.5px;
            text-align: center;  
            display: none;

            @media all and (max-width: 768px) {
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                background-color: #111;
                padding: 27px 27px;
            }        
        
            &:hover {
                color: #fff;
                background-color: #333;
            }
        }    
    }    
}

.main {
    @extend %setup-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media all and (max-width: 1275px){
        grid-template-columns: 1fr 1fr;
    }

    @media all and (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    .main-content {
        text-align: center;
        padding:  64px;

        box-shadow: 5px 2px 5px 2px rgba(0,0,0,0.16), 10px 2px 10px 2px rgba(0,0,0,0.12);
        
        &:nth-child(1) {
            background-color: #eee;
            color: #696969;
        }
        
        &:nth-child(2) {
            background-color: #fe9900;
            color: #443b2e;
        }
        
        &:nth-child(3) {
            background-color: #333333;
            color: #fe9900;
        }
        
        &:nth-child(4) {
            background-color: #666666;
            color: #eee;
        }
    
        .fas {
            font-size: 120px;
            padding: 32px;
        }
        
        h1 {
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 28px;
            margin: 10px;
        }
        
        p {
            line-height: 20px;
            color: inherit;
            font-size: 15px;
            font-family: 'Roboto Condensed', sans-serif;
            margin: 16px 0px;
        }
        
        i {
            font-size: 30px;
        }
    }    
}

.footer {
    @extend %setup-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media all and (max-width: 1275px){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media all and (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
    }

    h3 {
        margin: 20px 0;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        font-weight: bold;
        padding: 0 5px;

        @media all and (max-width: 1275px){
            padding: 0;
        }    
    }

    .footer-content {
        background-color: #111111;
        text-align: left;
        color: #969696;
        padding: 50px;


        @media all and (max-width: 1275px){
            text-align: center;
            background-color: #111111;
            color: #969696;
            padding: 50px 0px;
    
        }

        @media all and (max-width: 768px) {
            text-align: center;
        }    

        &:nth-child(1) {
            @media all and (max-width: 1275px){
                padding-bottom: 0px;
            }
        }
        
        &:nth-child(2) {
            @media all and (max-width: 1275px){
                padding-bottom: 0px;
            }
        }

        &:nth-child(3) {
            @media all and (max-width: 768px) {
                padding-bottom: 0px;
            }
        }
        
        &:nth-child(4) {
            padding-bottom: 60px;
        }
    
        ul {
            padding: 0 15px;

            @media all and (max-width: 1275px){
                padding: 0;
            }        
        }
        
        ul li {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 14px;
            line-height: 2;
        }    
    }    
}